// Resume styles
// ---------------------------------------/

// util


#page-container {
  position: relative;
  min-height: 90%;
  z-index: 0;
}

#icon-container {
  position: relative;
  z-index: 1;
}

#logo-container {
  position: relative;
  z-index: 2;
}

.section-header {
  // @include section_border;
  margin-bottom: 1.5rem;

   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
   }

   h2{
     font-size: 50px;
     color: #D4AF37;
   }

   

   h4{
     margin-top: 50px;
     text-align: center;
   }  

}

h3{
  color: #D4AF37;
  font-size: 20px;
}

h5{
  margin-top: 100px;
  text-align: center;
  color: #D4AF37;
   font-size: 50px;
}

.bg {
  position:fixed; 
  top:0; 
  left:0;
  width: 100px;
  height: 10px;
  overflow: hidden;
  display: block;
}


// page header styles

.page-header { padding: 1px 10px; 

  .avatar {
    width: 100px;
    max-width: 50%;
    overflow: hidden;
    border-radius: 8px;
    
    display: block;
  }

  .logo {
    position:fixed; 
    top:-10px; 
    left:-20px;
    width: 150px;
    max-width: 50%;
    overflow: hidden;
    border-radius: 8px;
    margin: 2rem 2rem 2rem;
    display: block;
  }
  
  .header-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    letter-spacing: -.15rem;
    margin: 1rem 0 0;
    text-decoration: none;    
  }
 

  .header-contact-info {
    text-align: center;
  }
  .header-contact-info p a {
    color: inherit;
  }

  .title-bar {
    // @include section_border;
    margin-top: 2rem;
    padding: .4rem 0;
    @include clearfix;

    .header-title {
      @include sans;
      font-weight: 300;
      font-size: 1.75rem;
      line-height: 2rem;
      letter-spacing: -.05rem;
      text-align: center;
      margin: 0 0 .5rem;

      @include media_larger_than_mobile {
        float: left;
        margin: 0;
      }
    }
  }

  .executive-summary {
    @include media_larger_than_mobile { font-size: 1.125rem; }
  }
}

.icon-links {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 4px;
  text-align: center;
  border-top: 2px solid #D4AF37;
  padding-top: .4rem;

  position:fixed; 
  top:130px; 
  left:3.25rem;
  
    // width: 100px;
    // max-width: 50%;
    // overflow: hidden;
    // border-radius: 8px;
    // margin: 1rem 1rem 1rem;
    // display: block;

  @include media_larger_than_mobile {
    float: right;
    border-top: none;
    padding-top: 0;
  }

  .icon-link-item {
    display: inline-block;
    margin-left: 0px;
  }

  .icon-link { display: inline-block;

    &:hover .icon path {
      fill: #D4AF37;
      @include transition(all .2s ease);
    }
    
  }

  .icon {
    height: 50px;
    width: 25px;
  }
}

/* The sidebar menu */
.sidenav {
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 2rem;
  margin-top: 200px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 60px 0px; //top right bottom left
  text-decoration: none;
  font-size: 1.25rem;
  color: #000000;
  display: block;
  font-family: 'Lora', serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #D4AF37;
}

/* Active/current link */
.sidebar a.active {
  color:  #D4AF37;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color:  #D4AF37;
}

/* Style page content */
.main {
  margin-left: 500px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  margin-top:100px;
  margin-right: 500px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.contact-button {
  @include border-radius(3px);
  background-color: #D4AF37;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 1.5rem auto;
  width: 220px;
  font-size: 1.375rem;
  @include sans_light;
  color: #000000;
  line-height: 55px;
  @include transition(all .2s ease);

  &:hover {
    background-color: #333;
    color: #fff;
  }

  &.not-looking { width: 400px; }
}

// resume content styles

.content-section {
  margin: 0 0 3rem;

  .resume-item { margin-bottom: 2rem; }

  .resume-item-title {
    @include sans_bold;
    margin: 0 0 1.75rem; // top left bottom
    font-size: 1.5rem;
    letter-spacing: -.01rem;
    line-height: 1;
  }

  .resume-item-details {
    font-size: 1.125rem;
    margin: 0 0 .75rem;
    line-height: 1;

    &.award-title {
      font-size: 1rem;
    }
  }

 
  .resume-item-title,
  .resume-item-details,
  .resume-item-copy,
  .resume-item-list {
    a {
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid;

      &:hover {
        border-bottom: none;
        color: #9c9c9c;
      }
    }
  }

  .resume-item-copy { margin: .75rem 0 0; }
}

// footer styles

.page-footer {
  border-top: 4px solid #D4AF37;
  padding-top: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 25px;
  width: 100%;

  .footer-line {
    margin: 0;
    font-size: .875rem;
    color: #999;

    > a {
      font-weight: 700;
      color: #333;
    }
  }
}
@media screen and (max-width: 500){
  .page-footer{display: none}
}

// end footer styles

.print-only { display: none !important }

@media print {
  .no-print { display: none !important }
  .print-only { display: block !important }
  body { font-size: 12px; line-height: 1rem; }
  .page-header { padding: 1rem 0 .2rem;
    .header-name {
      @include sans_bold;
      font-size: 2rem;
      margin: 0 0 .2rem;
    }
  }
  .section-header {
    // @include section_border_thin;
    margin-bottom: 1rem;
    h2 { font-size: 1.2rem; line-height: 1.5rem; }
  }
  .content-section {
    margin: 0 0 1rem;
    .resume-item { margin-bottom: 1rem; }
    .resume-item-title {
      font-size: 16px;
      line-height: .7em;
    }

    .resume-item-details {
      font-size: 12px;
      margin: 0 0 .75rem;
      line-height: .7em;
      font-style:italic;

      &.award-title {
        font-size: 11px;
      }
    }
  }
}
