<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include head.html %}
        <div class="wrapper"></div>
        <header class="page-header">
          <pre><link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet"></pre>
          
          <a href="{% link index.html %}">
            <img src="images/Logo.png" alt="logo" class="logo" itemprop="image">
          </a>
          <div>
            {% include icon-links.html %}
          </div>

          
      </header>   
    </head>
    <body>   
      <!-- Side navigation -->
      <div class="sidenav">
        <a href="{% link education.html %}">Education </a>
        <a href="{% link experience.html %}">Experience</a>
        <a href="{% link organizations.html %}">Organizations</a>
        <a href="{% link projects.html %}">Projects</a>
        <a href="{% link recognitions.html %}">Recognitions</a>
        </div>   

        
 
      <div id="page-container">
        <div class="wrapper" itemscope itemtype="http://schema.org/Person"></div>
        
          {{content}}
          
              
        </div>
        {%- include footer.html -%} 
      </div>  
      
      
      
       
    </body>
      
</html>